<h1>ABOUT page</h1>
<br>
<p>Need more informations ?</p>
<p>Here we are</p>
<br>
<p>If you are asking yourself about your own existence ? Click here : <a href='/about/toi'>Juste ici</a></p>

<p> If you don't remember who are the members of your group, don't worry we can help you, little idiot : <a href='/about/ton_groupe'>Encore juste ici</a></p>

<br><br>
<p><a href="/">RETOUR</a></p>