<h1>CONTACT page</h1>
<br>
<p>You want to contact the headoffice ? Or to suggest ideas ?</p>
<a href='giveusyourideasyouidiot@gmail.com'>giveusyourideasyouidiot@gmail.com</a>


<br><br>
<p><a href="/">RETOUR</a></p>